@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #262626;
    font-family: 'Inter', sans-serif;
    color:whitesmoke
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh
}

header{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    text-align: start;
    width: 66.5%;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 40px 20px 40px; 
    width: fit-content;
    border: 1px solid whitesmoke;
    margin-right: 10px;
}

.box h1{
    font-weight: 900;
    font-style: italic;
    font-size: 5.5rem;
}

.box h3{
    font-weight:400;
    font-style: italic;
    font-size: 1rem;
    width: 50%;
}

.in{
    display: flex;
    flex-direction: column;
}


.in a{
    color: whitesmoke;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight:400;
    font-style: italic;
    font-size: 1rem;
    border: 1px solid whitesmoke;
    padding: 5px 10px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3vh;
    border:1px solid whitesmoke;
    width: 66.5%;
}



.card{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid whitesmoke;
    background-color: #1a1a1a60;
    height: 50vh;
    width: 30%;
    margin: 10px 15px;
}

.card .display{
border: 1px solid whitesmoke;
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h2{
    font-weight:200;
    font-size: 1.5rem;
    margin-bottom: 1vh;
}
.card p{
    font-weight:200;
    font-size: 0.8rem;
}

