<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/log.css">
    <title>Sign up</title>
</head>
<body>
    <div class="block">
        <header>
            <div class="box">
                <h1>Inscription ?</h1>
                <h3>Create your account !!</h3>
            </div>
            <div class="in">
                <a href="/home">Home</a>
                <a href="/login">Sign in</a>
            </div>
        </header>
        <container class="container">
            <form method="post" action="{{url_for('inscription')}}">
                <input type="text" id="pseudo" name="pseudo" required placeholder="Pseudo">
                <input type="password" id="password" name="password" required placeholder="Password">
            
                <button type="submit" class="btn">Send</button>
                </form> 
        </container>
    </div>
</body>
</html>